# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Databases
*.db

# Logs
*.log

# Environment Variables
.env